<h1>Listing apps</h1>


  <tbody>
    <% @apps.each do |app| %>
    
        <h2><%= app.name %><h2>
        <h4><%= app.description %></h4>
        <p>Tags: <%= get_tag_list(app)%></p>
        <%#= link_to 'Show', app %>
        <%#= link_to 'Edit', edit_app_path(app) %>
        <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <% end %>
  

<br>

<%= link_to 'New App', new_app_path %>
